<% if user.follower.count == 0 %>
  フォロワー<strong>0</strong>人
<% else %>
  <button type="button" data-toggle="modal" data-target="#following" class="follower-btn">
    フォロワー<strong><%= user.follower.count %></strong>人
  </button>
  <div class="modal fade" id="following" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
    <%= render 'shared/users_modal', users: user.follower, title: "フォロワー"%>
  </div>
<% end %>