<section>
  <div>
    <%= render 'favorites/like_btn', post: post %>
    
    <%= link_to post do %>
      <i class="far fa-comment comment-icon"></i>
    <% end %>
  </div>
  
  
  <div class="like-user">
    <%= render 'favorites/like_count', post: post %>
  </div>

  
</section>